body{
    background-color: #121212;
    color: white;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}

.logo{
    color: #0d6efd;
    margin-left: 10px;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 0;
    padding-bottom: 0;
}

.home-bkg{
    background-image: url("./images/Home-bkg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    z-index: auto;
}

.home-bkg-text{
    color: #3b89ff;
    font-size: 10vw;
    position: absolute;
    top: 35vh;
    left: 30vw;
}

.home-bkg-text-dash{
    animation: animate 0.8s infinite;
}

@keyframes animate{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}

.card-cont{
    padding: 1.5%;
}

.card{
    background-color: rgb(0, 0, 0, 0.25);
    border: 2px;
}

.card-footer{
    background-color: rgba(0,0,0,.35); 
    border-top: rgba(0,0,0,.250);
}

.col-btn{
    margin: 2%;
}

.page-form{
    margin: 1%;
}

.blog-page-intro{
    background-color: rgb(255, 255, 255,0.05);
    text-align: justify;
    margin: 1% 1.5% 1.5% 1.5%;
    padding: 0.5%;
}

.blog-page-feat{
    margin: 1%
}

.blog-cont{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    margin: 0.5%;
    padding: 0.5%;
}

.blog{
    background-color: rgb(255, 255, 255,0.05);
    text-align: left;
    margin: .5%;
    padding: .5%;
}

.blog-btn{
    width: 15%;
    height: 3%;
} 

/* .blog:hover{
    background-color: rgb(225, 225, 225);
    transform: translateX(3%);
} */

.create-blog{
    background-color: rgb(255, 255, 255,0.05);
    text-align: left;
    margin: 1%;
    padding: 1%;
}

.inp-field{
    background-color: rgb(255, 255, 255, 0.05);
    color: white;
    border: none;
}

.back-top-btn{
    position: fixed;
    bottom: 3.5%;
    right: 2%;
}

.footer{
    background-color: rgb(255, 255, 255, 0.05);
    padding: 1%;
}

.loading{
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
}

.Ani{
    background-color: black;
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
}

.Ani_sub{
    background-color: black;
    height: 14vw;
    width: 100vw;
    z-index: 100;

    position: fixed;
    top: 35vh;
    left: 30vw;
}

.text-ani{
    color: #0d6efd;
    font-size: 10vw;
    z-index: 99;
    position: absolute;
    top: 35vh;
    left: 30vw;
}

.modal-content{
    background-color: rgb(0,0,0);
}